@import url('https://fonts.googleapis.com/css?family=Marcellus+SC');

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
=============================
Custom Global
=============================
*/

* {
 box-sizing: border-box;
}

/*
=============================
Typography
=============================
*/

h1 {
  color: white;
  font-size: 40px;
  font-family: 'Marcellus SC', serif;
}

h4 {
  color: white;
  font-size: 15px;
  font-family: 'Marcellus SC', serif;
}

/*
=============================
Grid
=============================
*/

.container > div {
  text-align: center;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-rows: 200px auto 200px;
  grid-gap: 3px;
  background-color: #040119;
}

.button-section {
  padding-left: 240px;
}

/*
=============================
Main Content
=============================
*/

input {
  width: 410px;
  height: 34px;
  padding: 12px 12px 12px 0;
  padding-left: 6px;
  margin: 18px;
  border-radius: 8px;
}

input:hover {
  box-shadow: 2px 2px 2px;
}

button {
  font-family: 'Marcellus SC', serif;
  font-size: 15px;
  height: 33px;
  cursor: pointer;
  border: none;
  min-width: 69px;
  border-radius: 6px;
}

input:focus,
button:focus {
  outline: 0;
}

button:hover {
  background-color: #7f8082;
  transition: background-color 0.3s;
}

/*
=============================
Footer
=============================
*/

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
